# React Native Android Build
**/android/.cxx/
**/android/app/.cxx/
**/.cxx/

# Android build
**/android/build/
**/android/app/build/
**/android/.gradle/

# Dependencies
**/node_modules/

# Environment
**/.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db